.card-info {
    background: hsl( 0, 0%, 100%, .7 );
    /* border: 1px solid white; */
    bottom: 3.4rem;
    border-radius: 0 .25rem .25rem 0;
    box-sizing: border-box;
    padding: 0 .5rem;
    position: absolute;
    width: 100%;
    max-width: 90%;
}

.card-info h5 {
    font-weight: bold;
    margin: .5rem 0 0 0;
}
.card-info p {
    margin: 0;
    padding: 0;
}
.card-info small {
    display: block;
    font-weight: bold;
    padding-bottom: .5rem;
    text-align: right;
}

.card-button { 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}